.composition{
    position: relative;
      // media queries
      @include respond(tab-port){
        margin-top: 4rem;
      }

      @include respond(phone){
        margin-top: 4rem;
      }

    &__photo{
        position: absolute;
        width: 50%;
        box-shadow: 0 1.5rem 1rem rgba($color-dark, .4);
        border-radius: 2px;
        z-index: 10;
        transition: all .5s;

        // media queries
        @include respond(phone){
            // float: left;
            // position: relative;
            width: 100%;
            box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
        }

        @include respond(tab-port){
            float: left;
            position: relative;
            width: 33.33333%;
            box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
        }

        &--p1{
            left: 0;
            top:-2rem;
        }
        &--p2{
            right: 5rem;
            top: 1rem;

            // media queries
            @include respond(tab-port){
                right: 0rem;
                top: -2rem;
                transform: scale(1.1);
                z-index: 16;
            }
        }
        &--p3{
            left: 10%;
            top: 13rem;

               // media queries
               @include respond(tab-port){
                left: 0;
                top: -2rem;
            }
        }

        &:hover{
            border: 1rem solid $color-primary;
            z-index: 20;
            box-shadow: 0 2.5rem 1rem rgba($color-dark, .6);
            transform: scale(1.1), translate(-2px);
            
        }

    }
    &:hover &__photo:not(:hover){
        transform: scale(.90);
    }

}