.about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
    z-index:3;

    &__btn{
        //media queries
        &--center{
            @include respond(phone){
                text-align: center;
            }
        }
    }

    // media queries
    @include respond(phone){
        padding:  25rem 2rem;
    }
}
.feature{
    z-index:2;
    margin-top:-8rem;
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.804),
    rgba($color-primary-dark, 0.804)),
   url('/img/nat-4.jpg');
   background-size: cover;
   display: flex;
   transform: skewY(-7deg);

   &>*{
    transform: skewY(7deg);
   }
}

.tours{
    background-color: $color-grey-light-1;
    padding: 25rem 0 10rem 0;
    margin-top: -8rem;
}
.btn-tours{
    background-color: $color-primary-dark;
    color:$color-white;
}
.stories{
    position: relative;
    height: 102rem;
    width: 100vw;
    padding: 3rem 0;
}

.booking{
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book{
    background-image:linear-gradient(105deg, rgba($color-white, .9) 0%, 
    rgba($color-white, .9) 50%, 
    transparent 50%), 
    url('../img/nat-10.jpg');
    
    height: 50rem;
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-dark, .2);

    &__form{
        padding:6rem;
        width: 50%;
    }
}