.about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
    z-index:3;
}
.feature{
    z-index:2;
    margin-top:-8rem;
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.804),
    rgba($color-primary-dark, 0.804)),
   url('/img/nat-4.jpg');
   background-size: cover;
   display: flex;
   transform: skewY(-7deg);

   &>*{
    transform: skewY(7deg);
   }
}

.tours{
    background-color: $color-grey-light-1;
    padding: 25rem 0 25rem 0;
    margin-top: -8rem;
}